.rbx
.idea/
.DS_Store
pkg
tmp
*~
*swp
*gem
spec.opts
.rvmrc
.ruby-version
.ruby-gemset
capybara-*.html
.yardoc
doc
.bundle
Gemfile*.lock
chromedriver.log
bundler_stubs
bin
gem-private_key.pem
sauce_connect.log