<h1>Form</h1>

<form action="/form" method="post">
  <p>
    <input type="text" name="form[foo]" value="blah" id="foo"/>
  </p>

  <p>
    <input type="text" name="form[bar]" value="fish" id="bar"/>
  </p>

  <p>
    <input type="submit" name="form[awesome]" value="awesome"/>
    <input type="submit" name="form[crappy]" value="crappy"/>
  </p>
</form>
