<h1>This is a test</h1>

<p id="first">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut <a href="/with_simple_html" title="awesome title" class="simple">labore</a>
  et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation <a href="/foo" id="foo">ullamco</a> laboris nisi
  ut aliquip ex ea commodo consequat.
</p>

<p id="second">
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
  dolore eu fugiat <a href="/redirect" id="red">Redirect</a> pariatur. Excepteur sint occaecat cupidatat non proident,
  sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<p>
  <input type="text" id="test_field" value="monkey"/>
</p>

<div id="hidden" style="display:none;">
	<div id="hidden_via_ancestor">Inside element with hidden ancestor</div>
</div>