<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>with_js</title>
    <script src="/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
    //<![CDATA[
      $(function() {
        $('#change').text('I changed it');
      });
    //]]>
    </script>
  </head>
  
  <body id="with_js">
    <h1>FooBar</h1>
    
    <p id="change">This is text</p>
  </body>
</html>