/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body { line-height: 1; }

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* GRID BLUEPRINT ---------------------------------------------------------------------------------------------------- */
/* GRID 960 ---------------------------------------------------------------------------------------------------- */
/* line 29, ../src/master.sass */
.wrapper { margin-left: auto; margin-right: auto; width: 960px; overflow: hidden; *zoom: 1; }
/* line 32, ../src/master.sass */
.wrapper .intro { margin-left: 0; display: inline; float: left; margin-left: 10px; margin-right: 10px; width: 380px; padding-right: 560px; overflow: hidden; *zoom: 1; }
/* line 37, ../src/master.sass */
.wrapper .menu { margin-left: 0; display: inline; float: left; margin-left: 10px; margin-right: 10px; width: 700px; padding-right: 240px; overflow: hidden; *zoom: 1; }
/* line 42, ../src/master.sass */
.wrapper .code { margin-left: 0; display: inline; float: left; margin-left: 10px; margin-right: 10px; width: 540px; padding-right: 80px; }
/* line 46, ../src/master.sass */
.wrapper .install { margin-right: 0; display: inline; float: left; margin-left: 10px; margin-right: 10px; width: 300px; padding-right: 0px; overflow: hidden; *zoom: 1; }
/* line 51, ../src/master.sass */
.wrapper .footer { margin-left: 0; display: inline; float: left; margin-left: 10px; margin-right: 10px; width: 940px; }

/* GLOBAL ---------------------------------------------------------------------------------------------------- */
/* line 58, ../src/master.sass */
html { height: 100%; }

/* line 61, ../src/master.sass */
body { background: #f6f3ed url("../images/capybara.jpg") no-repeat scroll top center; font-family: "helvetica nue", "helvetica", "arial, sans-serif"; color: black; font-size: 16px; line-height: 25px; height: 100%; }

/* line 69, ../src/master.sass */
h1, h2, h3, h4, h5, h6 { line-height: 1.5; margin-bottom: 20px; }

/* line 74, ../src/master.sass */
p + h2, p + h3, p + h4, p + h5, p + h6 { margin-top: 20px; }

/* line 77, ../src/master.sass */
h1 { font-size: 25px; }

/* line 80, ../src/master.sass */
h2 { font-size: 28px; }

/* line 83, ../src/master.sass */
h3 { font-size: 21px; }

/* line 86, ../src/master.sass */
h4 { font-size: 19px; }

/* line 89, ../src/master.sass */
h5 { font-size: 17px; }

/* line 92, ../src/master.sass */
h6 { font-size: 15px; }

/* line 95, ../src/master.sass */
p, pre { margin-bottom: 10px; }

/* line 98, ../src/master.sass */
a { color: #0bafbc; font-weight: bold; }
/* line 101, ../src/master.sass */
a:visited { color: #942bb3; }
/* line 103, ../src/master.sass */
a:hover { color: #07929e; }

/* line 106, ../src/master.sass */
::-moz-selection, selection { background: black; color: white; }

/* line 110, ../src/master.sass */
h1, h2, h6, .elabs, .mit { font-family: "atrament-web-1", "atrament-web-2", sans-serif; }

/* SITE ---------------------------------------------------------------------------------------------------- */
/* line 116, ../src/master.sass */
.wrapper { padding: 20px 10px; min-height: 1000px; }

/* line 120, ../src/master.sass */
h6 { background: black; color: white; text-align: center; font-size: 22px; width: 60px; height: 48px; padding: 12px 0 0 0; margin-bottom: 75px; display: block; border-radius: 60px; -moz-border-radius: 60px; }

/* line 133, ../src/master.sass */
h1 { font-size: 32px; line-height: 94px; margin-top: 28px; margin-bottom: 28px; }
/* line 138, ../src/master.sass */
h1:after { content: ""; background: black; height: 6px; width: 100%; margin-top: 22px; display: block; border-radius: 2px; -moz-border-radius: 2px; }
/* line 147, ../src/master.sass */
h1 strong { font-size: 80px; color: #592668; display: block; }

/* line 152, ../src/master.sass */
.links { margin-bottom: 40px; overflow: hidden; }
/* line 155, ../src/master.sass */
.links li { float: left; margin: 0 20px 20px 0; }
/* line 158, ../src/master.sass */
.links li:last-child { margin-right: 0; }
/* line 160, ../src/master.sass */
.links li a { font-size: 15px; text-decoration: none; color: black; background: #dbd9d3; background: #e1d6c3; padding: 22px 10px 18px; display: block; float: left; position: relative; border-radius: 2px; -moz-border-radius: 2px; -moz-transition: all 0.1s ease-in-out; -webkit-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
/* line 175, ../src/master.sass */
.links li a:after { content: ""; background: url("../images/external-link-10.png") no-repeat scroll top right; width: 10px; height: 10px; position: absolute; top: 4px; right: 4px; opacity: 0.3; }
/* line 184, ../src/master.sass */
.links li a:hover { background: black; color: white; }

/* line 188, ../src/master.sass */
h2 { border-bottom: 4px solid black; }

/* line 191, ../src/master.sass */
.install { margin-top: 120px; }

/* line 194, ../src/master.sass */
pre { background: #f3eadb; border: 1px solid #e1d6c3; font-size: 14px; padding: 8px 4px 6px; margin-bottom: 30px; border-radius: 2px; -moz-border-radius: 2px; }

/* line 203, ../src/master.sass */
.intro { margin: 0 0 40px; }

/* line 206, ../src/master.sass */
.elabs { background: url("../images/mit.png") no-repeat scroll top center; color: white; text-align: center; font-size: 22px; text-decoration: none; height: 64px; padding: 0; margin-top: 50px; display: block; position: relative; }
/* line 217, ../src/master.sass */
.elabs:visited { color: white; }
/* line 219, ../src/master.sass */
.elabs:hover { color: #e3e3e3; }
/* line 221, ../src/master.sass */
.elabs span { background: url("../images/elabs-symbol-44.png") no-repeat scroll right 10px; height: 44px; padding: 20px 56px 0 0; display: inline-block; }

/* line 228, ../src/master.sass */
.mit { background: url("../images/mit.png") no-repeat scroll top center; color: white; text-align: center; font-size: 22px; height: 44px; padding: 20px 0 0 0; margin-top: 25px; display: block; position: relative; }

/* FOOTER ---------------------------------------------------------------------------------------------------- */
/* line 242, ../src/master.sass */
.footer { color: #cacccb; font-size: 12px; border-top: 4px solid #dfdcd9; margin: 60px 0 20px 0; padding-top: 6px; }
/* line 248, ../src/master.sass */
.footer p { line-height: 30px; }
/* line 251, ../src/master.sass */
.footer a:link, .footer a:visited { color: #cacccb; }

/* line 254, ../src/master.sass */
.elabs-symbol { opacity: 0.6; background: url("../images/elabs-symbol.png") no-repeat scroll top center; float: right; width: 26px; height: 26px; display: block; text-indent: -999999px; }
/* line 262, ../src/master.sass */
.elabs-symbol:hover { opacity: 1; }
